@import '../App.css';

.h1 {
    color: var(--brand-accent);
    font-size: 2rem;
    text-align: left;
}

.team-overview {
    width: 50%;
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    border-radius: 2rem;
}

.team-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    color: var(--gray-primary);
    text-align: left;
    font-size: 1.25rem;
    margin: 0 10vw 0 10vw;
}

.body-columns {
    display: grid;
    grid-template-columns: 30% 70%;
}

.body-team {
    background-color: black;
    padding: 2rem;
}

.main-column-left {
    background: linear-gradient(to bottom, var(--brand-dark), black);
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, white, black) 1;
}

.approach-grid {
    display: flex;
    gap: 2rem;
}

.approach-card {
    background-color: var(--brand-dark);
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 1px solid silver;
}

.approach-header {
    margin: 0rem 0rem 2rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
}

.content {
    background-color: black;
}

.list-item {
    margin-bottom: 1rem;
}

.first-background {
    padding: 8rem 0 2rem;
    background: linear-gradient(to bottom, var(--brand-dark), var(--brand-primary-dark));
}

.second-background {
    padding: 2rem 0;
    background-color: var(--brand-primary-dark);
}

.border {
    border: 1px solid var(--brand-primary);
    width: 80%;
}

.third-background {
    padding: 2rem 0;
    background: linear-gradient(to bottom, var(--brand-primary-dark), black);
}

.team-button {
    border-radius: 1rem;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1rem;
    display: block;
    width: 12rem;
    margin: 4rem auto;
}

.team-header {
    font-size: 2rem;
}

.image-dim {
    width: 100%;
}