@import '../App.css';

.content {
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.stat-background {
    background-color: var(--brand-dark);
    padding: 2rem;
    border-bottom: 0.1rem solid var(--brand-primary);
}

.red-background {
    background: linear-gradient(to top, var(--brand-primary), var(--brand-dark));
}

.header-layout {
    text-align: center;
    margin: 1rem;
}

.header-description {
    font-size: 1.5rem;
    max-width: 50%;
    margin: 0 auto 4rem;
}

.icon-layout {
    display: flex;
    gap: 5%;
    align-items: center; 
    margin-bottom: 1rem;
}

.icon {
    background-color: var(--brand-primary);
    border-radius: 50%;
    height: 2.75rem;
    width: 2.75rem;
    padding: 0%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.help-background {
    background-color: var(--brand-dark);
    padding: 2rem;
}

.help-card-title {
    color: white;
    text-align: left;
    font-size: 1.4rem;
}

.help-card-desc {
    color: var(--gray-primary);
    text-align: left;
    font-size: 1.1rem;
}

.card-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    gap: 4rem;
}

.card {
    border: 0.1rem solid var(--brand-secondary);
    border-radius: 1rem;
    background-color: rgb(18, 18, 37);
    width: 20rem;
    height: 25%;
    padding: 2rem;
    margin: 0%;
}

.card-title {
    font-size: 2rem;
    color: var(--brand-secondary);
}

.card-desc {
    font-size: 1.1rem;
    margin: 0.5rem;
    color: var(--gray-primary);
    text-align: center;
}

.button {
    text-decoration: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.75rem;
}

.button-transition {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.donate {
    background-color: white;
    color: var(--brand-secondary);
    padding: 1rem 2rem;
}

.donate:hover {
    background-color: var(--gray-primary);
}

.learn-more {
    background-color: black;
    width: 10%;
    color: white;
}

.learn-more:hover {
    background-color: white;
    color: var(--brand-secondary);
}

.volunteer {
    background-color: black;
    color: white;
}

.volunteer:hover {
    background-color: white;
    color: var(--brand-secondary);
}

.home-h1 {
    color: white;
    font-size: 2rem;
}

.gradient-section {
  background: linear-gradient(to bottom, var(--brand-primary), var(--brand-dark));
  color: white;
  padding: 4rem; 
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
}

.caption {
  position: absolute;
  bottom: -1rem;  /* slightly overlaps the image */
  left: -2rem;
  background-color: var(--brand-dark);
  padding: 1.5rem;
  border-radius: 0.5rem;
  max-width: auto;
  font-size: 1rem;
  text-align: left;
  border: 0.1rem solid var(--brand-primary);
}