.header {
  background-color: var(--brand-dark);
  border-bottom: 0.1rem solid var(--brand-secondary);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 2rem;
  transition: background-color 0.3s;
  align-items: center;
  white-space: nowrap;
}

/* On hover */
/* When link matches current route */
.nav-link:hover, .nav-link.active {
  background-color: rgb(87, 0, 0);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.logo {
  max-width: 5%;
  height: auto;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}